.adjust-50{
	width:50%;
	float:left;
}

section.introduction{
	height:600px;
}

.headcont:after{
	content:" ";
	display:block;
	height:0;
	width:0;
	clear:both;
	visibility:hidden;

}

.headcont .row:before, .row:after{
	content:" ";
	display:block;
	height:0;
	width:0;
	overflow:hidden;
	visibility:hidden;
}

.headcont .row:after{
	clear:both;
}

section.HH{
	box-sizing:border-box;
}

body{
	min-width:1500px;
	min-height:800px;
}
