
@font-face{
	font-family:banger;
	src:url("Bangers-Regular.ttf");
}

@font-face{
	font-family:nova;
	src:url("NovaFlat-Regular.ttf");
}

@font-face{
	font-family:oleo;
	src:url("OleoScript-Regular.ttf");
}

@font-face{
	font-family:fair;
	src:url("PlayfairDisplaySC-Regular.ttf");
}

/*HEADER*/

header .header-resume{
	font-size:40px;
	font-weight:bold;
	font-family:fair;
	color:#FFFAFA;
	width:620px;
	float:left;
	
	margin-left:20px;
	margin-top:20px;
}

header:before{
	
	width:100%;
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	margin:0;
	padding:0;
}

header{
	background:rgba(0,0,100);
	height:100px;
	margin:0;
	padding:0;
	width:100%;
	outline:10px solid rgba(0,0,100);
}

/*BODY*/

body:before {
	/*background: black linear-gradient(to bottom,#800000,black) no-repeat fixed;*/
	background:#FFFAFA;
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	height:100%;
}

main{
	width:100%;
	margin:0;
	padding:0 !important;
	background:#FFFAFA;
	
	
	
}

main:before{
	content:" ";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	height:100%;
	padding:0;
	margin:0;
}

.mainsection{
	background:#FFFAFA;
}

main section{
	width:80%;
	margin:auto;
	background:#FFFAFA;
}

.introduction .image img{
	width:400px;
	height:500px;
	border:5px solid rgb(0,0,100);
}

.description{
	color:rgb(0,0,100);
	width: 400px;
	height:500px;
	text-align:justify;
	font-family:arial;
	line-height:25px;
	margin-left:40px;
	font-size:20px;
	font-weight:bold;
}

.container{
	padding:50px;
}

.alignment{
	margin-left:25px;
}

/*.introduction{
	border:1px solid #000;
}*/

 .main{
	position:relative;
	display:inline-block;
	padding:20px;
	/*margin: 0px auto 0px;*/
	width:800px;
	float:right;
	margin:0;
}

.main li{
	float:left;
	list-style:none;
	font-family:nova;
}

.main li a{
	padding:20px;
	text-decoration:none;
	font-size:20px;
	color:#FFFAFA;
	text-transform:uppercase;
}

.main li a.current{
	color:#00BFFF;
}

.main li a:hover{
	color:#00BFFF;
}

.adjust-50{
	width:50%;
}

.container-2{
	/*height:500px;*/
	width:100%;
	background:rgb(240,240,240);
	padding:30px;
	margin-bottom:20px;
	
}

.abt{
	text-decoration:none;
	font-size:25px;
	font-family:banger;
	color:rgba(0,0,100);
	text-align:justify;
}

.des{
	font-family:arial;
	font-weight:bold;
	text-align:justify;
	color:rgba(0,0,100);
	line-height:30px;
}

.quote{
	font-size:60px;
	color:rgb(200,0,0);
	margin: 20px auto 0px;
	font-style:italic;
	width:50%;
	height:400px;
	padding:20px;
}


/*APPLY OPACITY TO ONLY BACKGROUND*/
.exp{
	background:url("images\\office.jpg") no-repeat;
	height:800px;
	margin-top:40px;
	margin-bottom:40px;
	position:relative;
	display:flex;
}

.exp:before{
	content:" ";
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0,0,0,0.7);
	
}

.text{
	position:relative;
	padding:50px;
	color:#fff;
	opacity:1;
	font-family:nova;
	text-align:justify;
}

/*same concept for hobbies*/
.hobfootball{
	background:url("images\\hobfoot.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
}

.hike{
	background:url("images\\hike.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
}

.film{
	background:url("images\\film.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
	
}

.sketch{
	background:url("images\\sketch.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
}

.plane{
	background:url("images\\plane.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
}

.travel{
	background:url("images\\travel.jpg") no-repeat;
	height:350px;
	width:500px;
	
	position:relative;
	display:flex;
	border:6.5px solid rgb(200,0,0);
}

.hobfootball:before,.hike:before,.film:before,.sketch:before,.plane:before,.travel:before{
	content:" ";
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0,0,0,0.7);
	
}



/**/
.text .comp{
	font-size:30px;
}

.text .design{
	font-size:20px;
	text-transform:uppercase;
	position:relative;
}

.text .textdesc{
	margin-top:120px;
}

.role{
	line-height:40px;
}

/*Projects*/
.projbot{
	margin-bottom:50px;
}

.projback{
	background:rgb(240,240,240);
	margin-top:50px;
	padding:30px;
	color:rgb(0,0,100);
	box-shadow:4px 4px 15px black;
	text-align:justify;
	transition: background 0.5s;
}

.projback:hover{
	color:#fff;
	background:rgb(160,160,160);
}

.projback .title, .projback .tech{
	text-transform:uppercase;
}

.projback .title, .projback .tech,.projback .projdes{
	font-family:nova;
}

.projback .title{
	font-size:40px;
}
.projback .tech{
	font-size:30px;
}

.projback .projdes{
	font-size:20px;
	line-height:30px;
}

.projback .projdes li.webline{
	color:rgb(200,0,0);
	font-size:30px;
}

.hobbies{
	width:50%;
	height:300px;
	float:left;
	margin-top:90px;
}

.hobbygallery{
	position:relative;
	background:#FFFAFA !important;
	content-align:center;
}

.hobtitle{
	font-size:25px;
	font-weight:bold;
}

.HH{
	background:#FFFAFA;
}


div.hobsection{
	background:rgb(240,240,240);
	width:1100px;
	height:1340px;
	padding:0px 50px;
	margin-top:40px;
	margin-bottom:40px;
	overflow:hidden;
	
}

/*FOOTER*/

.copyright{
	color:#FFFAFA;
	padding:35px 0px;
	padding-left:20px;
	display:block;
	background:rgba(0,0,100);
	outline:10px solid rgba(0,0,100);
}

.foot{
	clear:both;
	display:block;
	width:100%
}
